/* Global body styling */
body {
  background-color: #faf5e6; /* Sets a cozy beige background */
  color: #333; /* Sets the text color to a neutral gray */
  font-family: 'Cormorant Garamond', serif; /* Sets the primary font for the app */
}

/* Navbar styling */
.navbar {
  font-family: 'Amatic SC', cursive; /* Uses a cursive font for a cozy vibe */
  background-color: #f7d8aa !important; /* Adds a pastel background to the navbar */
}

.nav-link {
  color: #333 !important; /* Darker link color for better readability */
  font-size: 1.25rem; /* Makes the links larger and more inviting */
}

.navbar-brand {
  font-size: 2rem !important; /* Increases the font size for the brand name */
}

.nav-link:hover {
  color: #555 !important; /* Changes the link color on hover for a subtle effect */
}

/* Social media icon styling */
.navbar .nav-link svg {
  font-size: 1.5rem; /* Increases the size of the social media icons */
  margin-left: 10px; /* Adds spacing between the icons */
}

.navbar .nav-link svg:hover {
  color: #555 !important; /* Adds a hover effect for the social media icons */
}

/* Footer styling */
footer {
  background-color: #f7d8aa;
  padding: 20px 0;
  text-align: center;
}

/* 3D Bookshelf styling */
.book-info {
  text-align: center;
  background-color: #f7d8aa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-info h5 {
  margin-top: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

.book-info p {
  font-size: 18px;
  color: #555;
}
