@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Global body styling */
body {
  background-color: #faf5e6; /* Sets a cozy beige background */
  color: #333; /* Sets the text color to a neutral gray */
  font-family: 'Comic Sans MS', serif; /* Sets the primary font for the app - Cormorant Garamond*/
}