/* src/css/pages/Bookshelf.css */

.bkshlf {
    /* text-align: center;
    background-color: #f7d8aa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    height: 600px;
    border: 1px solid #ccc;
    margin-bottom: 50px;
  }
  